* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {
	outline: none;
}
a:focus,a:active{
	outline: none;
}
nav,footer,header,aside {
	display: block;
}
html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Rubik', sans-serif;
}
input,button,textarea {
	font-family:inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-size:inherit;
	font-weight: 700;
}
.header {
	background-color: #F6F6F9;
	padding-bottom: 5px;
	margin-bottom: 22px;
}
.header_top {
	display: flex;
	padding-left: 100px;
	padding-right: 100px;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 40px;
}
.header_top_logo {
	display: flex;
	align-items: center;
}
.valyuta {
	display: flex;
	justify-content: space-between;
}
.dollar, .rubl, .euro {
	display: flex;
}
.header_top_logo_link > img {
	margin-right: 23px;
}
.valyuta > div > span {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #285193;
	margin-right: 5px;
}
.valyuta > div > p {
	font-size: 16px;
	line-height: 19px;
	color: #7A7A7A;
	margin-right: 12px;
}
.euto_text {
	margin-right: 0!important;
}
.header_top_search {
	display: flex;
	align-items: center;
}
.header_top_search > button {
	width: 38.1px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 5px;
	margin-right: 21px;
}
.russian {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	height: 40px;
	width: 64.76px;
	border-radius: 5px;
}
.russian > img {
	border-radius: 50%;
	margin-right: 5px;
}
.russian > span {
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #535353;
	padding-top: 5px;
}
.telegram {
	margin-left: 30px;
}
.telegram > a {
	display: inline-flex;
	align-items: center;
	width: 146px;
	height: 40px;
	background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
	border-radius: 5px;
    justify-content: center;
}
.telegram > a:hover {
	background: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
}
.telegram > a > img {
	margin-right: 7px;
}
.telegram > a > span {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
.nav {
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 18px;
}
.nav > ul {
	background-color: #fff;
	padding: 21px 24px 24px 24px;
	box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
}
.nav > ul > li > a {
	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
	color: #515151;
}
.header_add {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
	display: flex;
	justify-content: center;
}
.covid_info {
	padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
}
.covid_info > div > ul {
	background-color: #F6F6F9;
}
.covid_info_box > ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 35px;
}
.covid_info_box > ul > li {
    display: flex;
    align-items: center;
}
.covid_info_box > ul > li > a {
    display: flex;
    align-items: center;
}
.covid_info_box > ul > li > a > p {
    max-width: 232px;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-left: 25px;
}
.infection {
    border-left: 2px solid #EB5569;
    padding-left: 35px;
}
.infection > div {
    margin-left: 17px;
}
.infection > div > p {
    max-width: 161px;
    font-size: 18px;
    line-height: 21px;
    color: #DB0000;
}
.infection > div > span {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.health {
    border-left: solid 2px #F4CCD1;
    padding-left: 35px;
}
.health > div {
    margin-left: 17px;
}
.health > div > p {
    font-size: 18px;
    line-height: 21px;
    color: #05B135;
}
.health > div > span {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.death {
    border-left: solid 2px #F4CCD1;
    padding-left: 35px;
}
.death > div {
    margin-left: 17px;
}
.death > div > p {
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
.death > div > span {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}
.uzb_news_box {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.uzb_news_first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.uzb_news_first > div {
    max-width: 386px;
}
.uzb_news_first > div > a {
    display: inline-block;
}
.uzb_news_first > div > a > p {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 12px;
}
.uzb_news_first > div > a > span {
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;
}
.alert_wrapper {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
}
.alert {
    display: flex;
    align-items: center;
    padding: 28px 35px;
    background: rgba(239, 186, 84, 0.18);
    border-radius: 5px;
}
.alert > p {
    font-weight: 500;
    font-size: 20px;    
    line-height: 24px;
    color: #000000;
    margin-left: 17px;
}
.alert > button {
    margin-left: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
    border-radius: 5px;
    padding: 8px 15px;
}
.alert > button:hover {
    background: linear-gradient(90deg, rgba(255, 139, 54, 0.9) 0%, #FE5C28 88.43%);
}
.news_wrapper {
    padding-right: 100px;
    padding-left: 100px;
}
.news {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.news_main > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 15px;
}
.news_main > div {
    margin-bottom: 20px;
}
.news_main > div > a {
    display: flex;
}
.news_main > div > a > img {
    margin-right: 20px;
}
.news_main > div > a > div > h4 {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 8px;
    max-width: 434px
}
.news_main > div > a > div > p {
    max-width: 512px;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
    margin-bottom: 12px;
}
.news_main > div > a > div > div {
    display: flex;
    align-items: center;
}
.news_main > div > a > div > div > img {
    margin-right: 5px;
}
.news_main > div > a > div > div > span {
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
    display: inline-block;
    margin-top: 2px;
}
.news_main_btn { 
    display: inline-flex;
    margin-left: 40%;
}
.news_main_btn > a {
    display: inline-flex;
    background: #295093;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;  
    color: #FFFFFF;
    padding: 10px 32px;    
}
.popular_news > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #202020;
    margin-bottom: 8px;
}
.popular_news > div {
    padding-bottom: 18px;
    padding-top: 16px;
    border-bottom: solid 4px #E4E4E4;
}
.popular_news > div > a {
    display: inline-block;
}
.popular_news > div > a > p {
    max-width: 347px;
    font-size: 17px;
    line-height: 20px;
    color: #202020;
    margin-bottom: 12px;
}
.popular_news > div > a > span {
    font-size: 14px;
    line-height: 17px;
    color: #7688A4;
}
.popular_news > aside {
    margin-top: 60px;
}
.app_wrapper {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
}
.app {
    padding: 37px 19px 0 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.app > div {
    margin-right: 70px;
}
.app > div > h3 {
    max-width: 540px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #295093;
    margin-bottom: 10px;
}
.app > div > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    max-width: 540px;
}
.appstore {
    display: inline-block;
    margin-left: 15px;
}
    
